*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	margin-left: 5px;
	padding: 10px;
	background-color: #2196F3;
}

header {
	color: white;
	padding: 80px;
	margin-right: 100px;
	text-align: right;
	background-color: rgb( 51, 181, 255 );
}

h5{
	margin-right: 130px;
}

img{
	margin-top: -200px;
	margin-left: 500px;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	box-shadow: 5px 5px 10px grey;
	border-style: solid;
	border-color: white;
}

div h2{
	color: rgb( 0, 153, 0);
}

a{
	text-decoration: none;
}
.contact{
	float: right;
	margin-right: 20px;
	margin-left: 50px;
}

.about{
	margin-right: 0px;
}
#p1{
	text-align: left;
	margin-top: 10px;
}

.work{
	margin-top: 40px;
}
.company1{
	margin-right: 600px;
	padding: 20px;
	background-color: rgb(202, 206, 208);
}

.company2{
	margin-left: 50px;
	margin-top: 10px;
	margin-right: 600px;
}

.highlight{
	margin-top: 10px;
}

.award{
	margin-top: 10px;
}

#award1{
	background-color: rgb(202, 206, 208);
	margin-right: 600px;
	margin-left: 200px;
	margin-top: -20px;
	padding:10px;
}

.skill{
	float: right;
	margin-right: 290px;
	margin-top: -280px;
}

.language{
	float: right;
	margin-right: 310px;
	margin-top: -170px;
	
}

.interest{
	float: right;
	margin-right: 340px;
	margin-top: -105px;
}

.reference{
	float: right;
	margin-right: 303px;
	margin-top: -5px;
}
